/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #9a9999;
    color: #fff;
    text-shadow: 1px 1px 1px #888;
}

::selection {
    background: #9a9999;
    color: #fff;
    text-shadow: 1px 1px 1px #888;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*/// CUSTOM FONT AVENIR ///*/
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Roman.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Avenir-Roman.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Avenir-Roman.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Avenir-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Avenir-Roman.svg#svgFontName') format('svg'); /* Legacy iOS */
}

div, header, img, section, a, p, span, footer{
    -webkit-transition: all .6s ease-in-out;
       -moz-transition: all .6s ease-in-out;
        -ms-transition: all .6s ease-in-out;
         -o-transition: all .6s ease-in-out;
            transition: all .6s ease-in-out;
}

#fullWrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Avenir', helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 12pt;
    color: #9a9999;
}

    #mainContainer{
        position: absolute;
        width: 1040px;
        /*height: 2235px;*/
        margin: auto;
        left: 0; right: 0;
        margin-bottom: 200px;
        overflow: hidden;
    }

/* TITLE CLASSES */
        #titleBlanco{
            position: relative;
            display: inline-block;
            vertical-align: top;
            zoom: 1; /* Fix for IE7 */
            *display: inline; /* Fix for IE7 */
            width: 170px;
            height: 41px;
            margin-top: 215px;
            margin-bottom: 40px;
        }
            #titleBlanco img{
                width: 100%;
            }
/* END TITLE */

/* BODY CLASSES */
        #bodyBlanco{
            position: relative;
            display: inline-block;
            vertical-align: top;
            zoom: 1; /* Fix for IE7 */
            *display: inline; /* Fix for IE7 */
            width: 100%;
        }

            .halfColumns{
                position: relative;
                width: 50%;
                height: 100%;
                float: left;
                display: inline-block;
                vertical-align: top;
                zoom: 1; /* Fix for IE7 */
                *display: inline; /* Fix for IE7 */
            }

                #mainLeftColumn .firstImagePack{
                    height: 379px;
                    margin-bottom: 120px;
                }

                    #letterProject{
                        margin-bottom: 10px;
                    }



                #mainRightColumn .textSlots{
                    position: relative;
                    width: 100%;
                    text-align: center;
                    text-transform: uppercase;
                }

                #mainRightColumn .firstTextSlot{
                    height: 245px;
                }

                    #mainRightColumn .firstTextSlot .innerTextSlot{
                        position: absolute;
                        width: 100%;
                        height: 82px;
                        margin: auto;
                        top: 0; bottom: 0;
                    }
                    #mainRightColumn .firstTextSlot .innerTextSlot .underscore{
                        position: absolute;
                        width: 20px;
                        height: 1px;
                        margin: auto;
                        bottom: -20px;
                        left: 0; right: 0;
                        border-bottom: 1px solid #9a9999;
                    }

                        .textSlots p{
                            font-size: 9pt;
                            margin: 9px;
                        }

                        #mainRightColumn .midSpacing{
                            letter-spacing: 9px;
                        }
                        #mainRightColumn .longSpacing{
                            letter-spacing: 12px;
                        }


                #mainRightColumn .firstImagePack{
                    height: 378px;
                }


                #mainRightColumn .secondTextSlot{
                    height: 350px;
                }

                    #mainRightColumn .secondTextSlot .innerTextSlot{
                        position: absolute;
                        width: 100%;
                        height: 20px;
                        margin: auto;
                        top: 0; bottom: 0;
                    }

                        #mainRightColumn .secondTextSlot .innerTextSlot p{
                            letter-spacing: 8px;
                            font-size: 11pt;
                        }
/* END BODY */

/* FOOTER CLASSES */
        #footBlanco{
            position: relative;
            width: 100%;
            height: 175px;
        }

            #footBlanco .innerFoot{
                position: absolute;
                width: 100%;
                height: 75px;
                margin: auto;
                top: 0; bottom: 0;
            }

                .footLinks{
                    color: #9a9999;
                    text-align: right;
                    text-decoration: none;
                    display: block;
                    font-size: 11pt;
                    letter-spacing: 5pt;
                    line-height: 1.3em;

                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                    filter: alpha(opacity=100);
                    -moz-opacity: 1;
                    -khtml-opacity: 1;
                    opacity: 1;
                }
                    .footLinks:hover{
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                        filter: alpha(opacity=50);
                        -moz-opacity: 0.5;
                        -khtml-opacity: 0.5;
                        opacity: 0.5;
                    }

                #igLink{
                    margin-top: 15px;
                }
/* END FOOTER */



/* RESPONSIVE CLASSES */
    @media (max-width: 1039px){
        #mainContainer{
            width: 520px;
        }

            #mainLeftColumn, #mainRightColumn{
                width: 100%;
            }

                .footLinks{
                    font-size: 9pt;
                }
    }

    @media (max-width: 550px){
        #mainContainer{
            width: 300px;
            margin-bottom: 20px;
        }

            #titleBlanco{
                width: 105px;
                height: 25px;
                margin-top: 35px;
                margin-bottom: 15px;
            }

                #mainLeftColumn .firstImagePack, #mainRightColumn .firstImagePack{
                    height: 218px;
                    margin-bottom: 5px;
                }

                    #mainLeftColumn img, #mainRightColumn img{
                        width: 145px;
                    }


                #mainRightColumn .firstTextSlot{
                    height: 175px;
                }

                    .textSlots p{
                        font-size: 8pt;
                        margin: 8px;
                    }

                #mainRightColumn .secondTextSlot{
                    height: 150px;
                    margin-bottom: 5px;
                }

                    #mainRightColumn .secondTextSlot .innerTextSlot{
                        height: 35px;
                    }


            #footBlanco .halfColumns{
                width: 295px;
            }

                #footBlanco .halfColumns .innerFoot a{
                    margin-bottom: 10px;
                    font-size: 8pt;
                }

                #igLink{
                    margin-top: 45px;
                }
    }
/* END RESPONSIVE */



/* ANIMATION CLASSES */
    .smoothIntro{
        -webkit-transform: translate(0, 50px);
           -moz-transform: translate(0, 50px);
            -ms-transform: translate(0, 50px);
             -o-transform: translate(0, 50px);
                transform: translate(0, 50px);

        opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
    }
/* END ANIMATION */









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
